.container {
  padding: 1rem;
}

.title {
  margin-right: 12px;
}

.content {
  margin: 1rem 0;
}

.indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  font-weight: bold;
  font-size: 15px;
  height: 100%;
}
