{
  "env": {
    "commonjs": true,
    "es6": true,
    "jest/globals": true,
    "mocha": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "jest",
    "import",
    "prettier"
  ],
  "settings": {
    "import/extensions": [".ts"]
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "import/order": [
      "error",
      {
        "alphabetize": { "order": "asc", "caseInsensitive": true },
        "groups": [["builtin", "external"], ["internal", "unknown", "object"], ["parent"], ["sibling", "index"]],
        "newlines-between": "always"
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "endOfLine": "lf",
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
