{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest/globals": true,
    "mocha": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "react",
    "react-hooks",
    "jest",
    "import",
    "prettier"
  ],
  "settings": {
    "import/extensions": [".ts", ".tsx"],
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "endOfLine": "lf",
        "jsxSingleQuote": true,
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "internal", "unknown", "external", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "react*",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "redux*",
            "group": "builtin",
            "position": "before"
          },
          {
            "pattern": "*.scss",
            "group": "index",
            "position": "after"
          }
        ],
        "newlines-between": "never",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/no-unused-vars": 2,
    "no-unused-vars": 0,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0
  }
}
