.idea/
dist/
node_modules/
.env

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
tmp/
temp/
$RECYCLE.BIN/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
