$darkBlueColor: #343648;

a {
  color: #70719b;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: #70719b;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

h1,
h2,
h3 {
  color: $darkBlueColor;
  margin: 0;
}

.flexBox {
  display: flex;
}

.flexColumn {
  flex-direction: column;
  min-height: 0;
}

.flexGrow-1 {
  flex-grow: 1;
}

.flexShrink-1 {
  flex-shrink: 1;
}

.justifyContentBetween {
  justify-content: space-between;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentEnd {
  justify-content: flex-end;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsBaseline {
  align-items: baseline;
}

.clearBoth {
  clear: both;
}
