.container {
  background-color: #FFFFFF;
  width: 100%;
}

.item {
  font-weight: bold;
  padding: 0.8em 1em;
  color: #343648;

  &.active {
    text-decoration: underline;
  }

  &:visited {
    color: #343648;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
    color: #75043b;
  }
}
