$navHeight: 5vh;
$footerHeight: 2vh;
$smallPadding: 1em;

.nav {
  position: fixed;
  height: $navHeight;
  &Link {
    padding: $smallPadding;
  }
}

.main {
  height: calc(100vh - #{$navHeight} - #{$footerHeight});
  overflow-y: auto;
  padding-top: $navHeight;
  padding-right: $smallPadding;
  padding-left: $smallPadding;
}

.footer {
  height: $footerHeight;
  position: fixed;
  text-align: center;
}
